*{
  margin: 0;
  padding: 0;
}
header{
background-image: url("Bilder/bakgrundsbild.jpg");
height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
text-align: center;
position: center;
}
.namn{
  margin-left: 625px;
  margin-top: 100px;
  float: left;
}




.navbar{
  position: relative;
  list-style-type: none;

  margin-right: auto;
}

.navbar a{
  display: inline-block;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,2);
  font-size: 35px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: 0.3s ease;
}
.navbar a:hover{
  background-color: #fff;
  color: #000;
}

.navbar a:active{
  background-color: #fff;
  color: #000;
}


.namn{
  padding-top:  10px;
  padding-right: 1000px;
  color: #fff;

  font-size: 40px;
}

.container{
  text-align: center;
  background: url("Bilder/nerbild.jpg");
  height: 90vh;
}

.punkter{
  width: 55%;
  margin:auto;
  background-color: white;
  height: 90vh;
}
