*{
  margin: 0;
  padding: 0;
}
body {
  background-image: url(""); 
}
h1 {
  font-size: 100px;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50% , -50%);
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  
}
.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.temp{
  float: left;
}

.navbar a:hover {
  background-color: #000;
}


